@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To my Profile</h1>
    <p>Hello, I am Saraswati Niroula ,Bsc Csit student of Academia International College</p>
    <p>Currently I am learing ASP .NET Core.</p>
    <p>Looking For Opportunity to work with growing Company.</p>
    <a asp-action="Contact">Contat Me</a>
</div>
