@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Want to Contact Me?</h1>
    <p>Phone Number:<a>9862758710</a></p>
    <p>Email: <a>saruniroula73@gmail.com</a></p>
</div>
