@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To the CRUD Operation</h1>
    <p>Create New Student <a href="./Student/Create">Click Here</a>.</p>
    <p>View Students <a href="./Student/Index">Click Here</a>.</p>

</div>
